.profile-container {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 20px; 
    background: #000000; 
    padding: 20px;
    border-radius: 10px; 
    width: 50%; 
    margin: auto; 
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1); 
}

.profile-image img {
    border-radius: 50%; 
}

.profile-info {
    font-size: 25px;
    display: flex;
    flex-direction: column; 
    gap: 10px; 
    white-space: nowrap; 
}
.back-button-container {
    display: flex;
    justify-content: center; 
    margin-top: 20px; 
    gap: 8px;
    flex-wrap: wrap;
}
.btn-icon img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 8px;
}
.btn-icon {
    display: flex;
    align-items: center;
    gap: 8px;
}
.back-button {
    display: block;
    margin: 15px auto 0 auto; 
}

