.pedido-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    max-height: 70vh;
    overflow-y: auto;
}

.pedido-box {
    background-color: #333;
    border: 2px solid #CCAF54;
    border-radius: 10px;
    border-bottom: 1px solid #ccc;
    width: 90%;
    max-width: 900px;
    gap: 10px;
    padding: 10px;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
}

.pedido-box h5 {
    margin: 0;
    font-size: 1.5rem;
}

.pedido-box a {
    color: #ffffff;
    text-decoration: none;
}

.icon-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    color: #CCAF54;
}

.btn-icon {
    background-color: #CCAF54;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px; 
    border: none;
    cursor: pointer;
}

.btn-icon img {
    width: 24px; 
    height: 24px;
    object-fit: contain; 
}


.bi-person-circle{
    background-color: #ffffff;
    color: #CCAF54;
}

.icon-usuario-container {
    position: relative;
    left: 20px; 
    border: 2px solid #CCAF54;
    border-radius: 20%;
    padding: 7px;
}

.icon-usuario {
    width: 100%;
    padding: 7px;
}

.form-check-input {
    background-color: #ccc; /* Color gris al estar desactivado */
    border-color: #ccc;    /* Bordes grises */
    width: 50px;
    height: 25px;
}

.form-check-input:focus {
  outline: none;
  box-shadow: none;
}

.form-check-input:active {
  appearance: none;
  box-shadow: none;
}

.form-check-input.active-switch {
  background-color: #28a745 !important;
  border-color: #28a745 !important;
}

.form-check-input.blocked-switch {
  background-color: #dc3545 !important;
  border-color: #dc3545 !important;
}

.form-check-input.disabled-switch {
  background-color: #6c757d !important;
  border-color: #6c757d !important;
}

.swal2-popup {
    background-color: #000 !important;
    border: 2px solid #CCAF54;
}

.swal2-title,
.swal2-content {
    color: #fff !important;
}

.swal2-confirm,
.swal2-cancel {
    color: #000 !important;
}
.btn-agregar{
    background-color: #ccaf54;
    color: #000000;
    border: 1px solid #d4af37;
}
.btn-agregar:hover{
    background-color: #2d2d2d;
    color: #ffffff;
    border: 1px solid #d4af37;
}
.search-filter-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-bottom: 20px;
  }
  