.edit-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 30px;
    color: #fff;
}

.image-placeholder {
  width: 100%;
  max-height: 245px;
  border: 2px solid #ccaf54;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 15px;
}

.preview-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.custom-input {
  background-color: #333;
  color: #fff;
  border: 1px solid #ccaf54;
  font-size: 13px;
  padding: 6px 10px;
}

.custom-input::placeholder {
  color: #ccc;
}

.form-label {
  color: #ccaf54;
  font-size: 13px;
}

.title {
  color: #ccaf54;
  text-align: center;
  font-size: 24px; 
  font-weight: bold;
  margin-top: 10px;
}

.btn-add {
  background-color: #ccaf54;
  color: black;
  border: none;
  padding: 8px 0; 
  font-size: 13px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.btn-add:hover {
  background-color: #000000;
    color: #ccaf54;
    border: 1px solid #ccaf54;
}

.btn-regresar {
  margin-top: 12px;
  background-color: #6c757d;
  color: white;
  padding: 6px 14px;
  font-size: 13px;
}

.btn-regresar:hover {
  background-color: #5a6268;
}