.container-password {
  max-width: 800px;
  margin: auto;
  text-align: center;
}

:placeholder-shown {
  background-color: rgb(29, 27, 27);
  border-radius: 10px;
  text-align: center;
}

input,
button {
  background-color: #333;
  color: #ffffff;
  width: 70%;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
}

input:hover {
  background-color: #333;
  color: #ffffff;
}

.button-enviar {
  width: 170px;
  padding: 12px;
  background-color: #CCAF54;
  border: 1px solid #D4AF37;
  border-radius: 5px;
  cursor: pointer;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.button-enviar:hover {
  background-color: #000000;
  border: 1px solid #D4AF37;
  color: #CCAF54;
}

.btn-regresar {
  width: 100px;
  padding: 7px 15px;
  background-color: #000000;
  border: 1px solid #D4AF37;
  border-radius: 5px;
  cursor: pointer;
  color: #CCAF54;
  margin-top: 15px;
  margin: 0 auto;
  text-align: center;
  display: block;
}

.btn-regresar:hover {
  background-color: #CCAF54;
  color: #000000;
  border: 1px solid #D4AF37;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}