.container {
    max-width: 600px;
    margin: auto;
    text-align: center;
}

.btn-update {
    background-color: #ccaf54;
    color: black;
    border: 1px solid #d4af37;
    padding: 12px 0;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    width: 230px;
}

.btn-update:hover {
    background-color: #000000;
    color: #ccaf54;
    border: 1px solid #ccaf54;
}

:placeholder-shown {
    background-color: rgb(29, 27, 27);
    border-radius: 10px;
    text-align: center;
}

input,
button {
    background-color: #333;
    color: #ffffff;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

input:hover {
    background-color: #333;
    color: #ffffff;
}